h1, h2, h3, h4 {
    margin: 0;
}

.admin {
    color: red;
}

#article_browser {
    height: 90vh;

    display: grid;
    grid-template-areas: ". up ."
    "before focused after"
    ". down .";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

#article_browser a {
    text-decoration: none;
}

#article_browser .focused {
    grid-area: focused;

    align-self: center;
    justify-self: center;
    margin: 1em;

    overflow: hidden;
    height: 100%;
    background-color: #eee;

    display: grid;
}
#article_browser .focused time {
    justify-self: end;
}
#article_browser .focused .similar {
    margin-top: 3em;
    overflow: scroll;
}
#article_browser .focused h2 img {
    vertical-align: middle;
}
#article_browser .up {
    grid-area: up;
    overflow: scroll;
}
#article_browser .before {
    grid-area: before;
    align-self: center;
}
#article_browser .after {
    grid-area: after;
    align-self: center;
}
#article_browser .down {
    grid-area: down;
    overflow: scroll;
}

#article_browser :not(.focused) ul {
    list-style: none;
    margin-block-start: 0;
}
