h1, h2, h3, h4 {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

.admin {
    color: red;
}

#article_browser {
    height: 90vh;

    display: grid;
    grid-template-areas: ". up ."
    "before focused after"
    ". down .";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 1em;
}

.site_logo {
    display: inline-block;
    padding: 0.1em;
    width: 100px;
}
.site_logo svg,
.site_logo img {
    width: 100px;
}

#article_browser a {
    text-decoration: none;
}

#article_browser .focused {
    grid-area: focused;

    align-self: center;
    justify-self: center;
    margin: 1em;

    overflow: hidden;
    height: 100%;
    background-color: #eee;

    display: grid;
}
#article_browser .focused time {
    justify-self: end;
}
#article_browser .focused .similar {
    margin-top: 3em;
    overflow: scroll;
}
#article_browser .focused h2 img {
    vertical-align: middle;
}
#article_browser .up {
    grid-area: up;
    overflow: scroll;
}
#article_browser .before {
    grid-area: before;
    align-self: center;
}
#article_browser .article-other-time {
    height: 100%;
}

#article_browser .after {
    grid-area: after;
    align-self: center;
}
#article_browser .down {
    grid-area: down;
    overflow: scroll;
}

#article_browser :not(.focused) ul {
    list-style: none;
    margin-block-start: 0;
}

/* Styling of articles that are presented left and right of the main article */
.article-other-time {
    display: grid;
    grid-template-areas:
    "relative"
    "title"
    "absolute";
    grid-template-rows: auto 1fr auto;
}
.article-other-time time.relative {
    grid-area: relative;
}
.article-other-time .title {
    grid-area: title;
    align-self: center;
}
.article-other-time time.absolute {
    grid-area: absolute;
    justify-self: end;
}

.articles-same-time > ol {
    display: flex;
    flex-direction: column;
    grid-gap: 0.2em;
}

.article-same-time {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.5em;
    align-items: center;
}
.article-same-time h2 {
    font-size: 1rem;
    font-weight: normal;
}