{% import 'ui.html' as ui with context %}

<html>
<head>
    <title>Hello</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    {% macro article(a) -%}
        <a href="{{ url_for('site_main_article_snapshot', id=a['site_id'], snapshot_id=a['featured_article_snapshot_id']) }}">
            {{ ui.logo(a["site_name"]) }} {{ a["title"] }}
        </a>
    {%- endmacro %}

    <a href="{{ url_for('index') }}">Homepage</a>
    <h1>{{ ui.logo(focused["site_name"]) }}</h1>

    <div id="article_browser">
        <div class="up">
            <ul>
                {% for a in simultaneous_up %}
                    <li>{{ article(a) }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="focused">
            <a href="{{ focused['url_article'] }}"><h2>{{ focused["title"] }} <img src="{{ url_for('static', path='/external-link.svg') }}" height="30px"></h2></a>
            <time datetime="{{ focused['timestamp_virtual'] }}">{{ absolute_datetime(focused["timestamp_virtual"]) }}</time>
            {{ ui.logo(focused["site_name"]) }}
            <div class="similar">
                <h3>Articles similaires</h3>
                <ul>
                    {% for s, distance in similar %}
                        {% if s["is_main"] %}
                        <li>{{ article(s) }}
                            <time class="relative">{{ duration(focused["timestamp_virtual"], s["timestamp_virtual"]) }}</time>
                            [{{ distance | round(3) }}]</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if after %}
            <div class="after">
                {{ article(after) }}
                <time class="absolute" datetime="{{ after['timestamp_virtual'] }}">{{ absolute_datetime(after["timestamp_virtual"]) }}</time>
                (<time class="relative">{{ duration(focused["timestamp_virtual"], after["timestamp_virtual"]) }}</time>)
            </div>
        {% endif %}
        {% if before %}
            <div class="before">
                {{ article(before) }}
                <time datetime="{{ before['timestamp_virtual'] }}">{{ absolute_datetime(before["timestamp_virtual"]) }}</time>
                (<time class="relative">{{ duration(focused["timestamp_virtual"], before["timestamp_virtual"]) }}</time>)
            </div>
        {% endif %}
        <div class="down">
            <ul>
                {% for a in simultaneous_down %}
                    <li>{{ article(a) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
