{% import 'ui.html' as ui with context %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    {% macro article(a) -%}
        <a href="{{ url_for('site_main_article_snapshot', id=a['site_id'], timestamp=a['timestamp_virtual']) }}">
            {{ ui.logo(a["site_name"]) }} {{ a["title"] }}
        </a>
    {%- endmacro %}

    {% macro time_absolute(timestamp) %}
        <time class="absolute" datetime="{{ timestamp }}">{{ absolute_datetime(timestamp) }}</time>
    {%- endmacro %}

    {% macro time_relative(reference, timestamp) %}
        <time class="relative">{{ duration(reference, timestamp) }}</time>
    {%- endmacro %}

    {% macro article_other_time(a, class_, focus) -%}
        <div class="article-other-time {{ class_ }}">
            <div class="title">{{ article(a) }}</div>
            {{ time_relative(focus["timestamp_virtual"], a["timestamp_virtual"]) }}
            {{ time_absolute(a['timestamp_virtual']) }}
        </div>
    {%- endmacro -%}

    {% macro article_same_time(a) -%}
        {{ article(a) }}
    {%- endmacro -%}

    {% macro articles_list_same_time(a_list, class_) -%}
        <div class="{{ class_ }}">
            <ol>
                {% for a in a_list %}
                    <li>{{ article_same_time(a) }}</li>
                {% endfor %}
            </ol>
        </div>
    {%- endmacro -%}

    {% macro article_similar(a, distance, focus) -%}
        {{ article(a) }}
        {{ time_relative(focus["timestamp_virtual"], a["timestamp_virtual"]) }}
        [{{ distance | round(3) }}]
    {%- endmacro -%}

    <a href="{{ url_for('index') }}">Homepage</a>
    <h1>{{ ui.logo(focused["site_name"]) }}</h1>

    <div id="article_browser">
        {{ articles_list_same_time(simultaneous_up, "up") }}
        <div class="focused">
            <a href="{{ focused['url_article'] }}"><h2>{{ focused["title"] }} <img src="{{ url_for('static', path='/external-link.svg') }}" height="30px"></h2></a>
            {{ time_absolute(focused['timestamp_virtual']) }}
            {{ ui.logo(focused["site_name"]) }}
            <div class="similar">
                <h3>Articles similaires</h3>
                <ol>
                    {% for s, distance in similar %}
                        {% if s["is_main"] %}
                            <li>{{ article_similar(s, distance, focused)}}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% if after %}
            {{ article_other_time(after, "after", focused )}}
        {% endif %}
        {% if before %}
            {{ article_other_time(before, "before", focused )}}
        {% endif %}
        {{ articles_list_same_time(simultaneous_down, "down") }}
    </div>
</body>
</html>
